.pie-charts-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  
