#main {
    
}

.pick{
    border : 1px solid rgb(117, 114, 114);
    height: 200px;
    margin: 10px;
    padding: 0;
    border-radius:20px ;
}
.pick .item {
    
}


.edit-card {
    border : 1px solid rgb(83, 82, 82);
    border-radius: 10px;
    width: auto;
    padding: 20px !important;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
}
.edit-card:hover {
   background-color: rgb(179, 228, 228);
}

.status {
    background-color : white;
    height: 100px;
    border-radius: 20px;
    position: relative;
    
}

.status .item {
    margin-top:25px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;

}
.status .item button {
    margin-right: 10px;
}

.container {
    width: 100%;
    overflow: hidden; /* Đảm bảo không có phần tử nào tràn ra ngoài container */
  }
  
  .left {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box; 
  }
  
  .right {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
  }